
/* Social Widget */
.social-row{
    display:flex;
    align-items:center;
    gap:6px;
    flex-wrap:wrap;
}
.social-icon{
    display:inline-flex;
    width:30px;
    height:30px;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}
.social-icon img{
    display:block;
    width:30px;
    height:30px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: none;
}

