
<footer class="site-footer h-card">

    <!-- PhotoSwipe JS -->
    <script type="module">
        import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe@5/dist/photoswipe-lightbox.esm.js';
        import PhotoSwipe from 'https://unpkg.com/photoswipe@5/dist/photoswipe.esm.js';

        const lightbox = new PhotoSwipeLightbox({
            gallery: '.ps-gallery',
            children: 'a',
            pswpModule: () => Promise.resolve(PhotoSwipe)
        });

        lightbox.init();
    </script>


    <script>
        document.addEventListener('click', function(event) {
            const navbar = document.getElementById('navbarNavDropdown'); // your collapse ID
            const toggler = document.querySelector('.navbar-toggler');

            // Check if menu is open
            const isExpanded = navbar.classList.contains('show');

            // If menu is open and click is outside navbar/collapse
            if (isExpanded && !navbar.contains(event.target) && !toggler.contains(event.target)) {
                // Collapse the menu
                const bsCollapse = bootstrap.Collapse.getInstance(navbar);
                if (bsCollapse) {
                    bsCollapse.hide();
                }
            }
        });
    </script>

</footer>