{% if site.data.navigation.main %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="navbar-sudeep container-fluid">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">Suman Acharya</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for item in site.data.navigation.main %}
                {% assign has_children = item.children %}
                <li class="nav-item {% if has_children %}dropdown{% endif %}">
                    {% if has_children %}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ item.title | escape }}
                    </a>
                    <ul class="dropdown-menu">
                        {% for child in item.children %}
                        <li>
                            <a class="dropdown-item" href="{{ child.url | relative_url }}">{{ child.title | escape }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a class="nav-link {% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">
                        {{ item.title | escape }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endif %}
