/* ------------------ NAVBAR ------------------ */
.custom-navbar {
  background-color: #111111; /* example */
  border-bottom: 4px solid #7A0C26;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-menu .dropdown-item {
  text-transform: uppercase;
}
.nav-link {
  padding: 10px 0;
}
.navbar-brand {
  color: #FFD700 !important;
  margin: 0;
  padding: 10px 5px;
}

.navbar-nav .nav-link.active {
  font-weight: 450 !important;
  color: #dd1144 !important;
}
.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #fff;
}
.navbar-toggler {
  margin-right: 5px; /* top/bottom 0.5rem, left/right 1rem */
}
.navbar-collapse {
  padding-left: 10px;
}