/* ----- CSS RESET (minimal) ----- */
//* { box-sizing: border-box; }
html, body { height: 100%; }
body { 
  //margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif; 
}
#center-container {
  max-width: 980px;
  margin: 0 auto 0;
  padding: 30px 0;
}
.page-heading {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}