.custom-navbar {
  background-color: #e4f5e8; /* example */
}
/* Make navbar links and brand uppercase */
.navbar .nav-link,
.navbar .navbar-brand {
  text-transform: uppercase;
}
.navbar-brand {
  color: #00078f !important;
}
/* Make dropdown menu links uppercase */
.navbar .dropdown-menu .dropdown-item {
  text-transform: uppercase;
}
.navbar-nav .nav-link.active {
  font-weight: 450 !important;
  color: #dd1144 !important;
}
.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-brand {
  margin: 0;
  padding: 0 20px;
}
