/* Make navbar links and brand uppercase */
.navbar .nav-link,
.navbar .navbar-brand {
  text-transform: uppercase;
}

/* Make dropdown menu links uppercase */
.navbar .dropdown-menu .dropdown-item {
  text-transform: uppercase;
}
.navbar-nav .nav-link.active {
  font-weight: 450 !important;
  color: #dd1144 !important;
}
