<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}


<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

      </div>
    </main>

    {%- include footer.html -%}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>

    <script>
        function resizeCollage() {
            const gallery = document.querySelector('.gallery-collage');
            if (!gallery) return;

            const rowHeight = parseInt(window.getComputedStyle(gallery).getPropertyValue('grid-auto-rows'));
            const rowGap = parseInt(window.getComputedStyle(gallery).getPropertyValue('gap'));

            gallery.querySelectorAll('a').forEach(item => {
                const img = item.querySelector('img');
                const rowSpan = Math.ceil((img.getBoundingClientRect().height + rowGap) / (rowHeight + rowGap));
                item.style.gridRowEnd = `span ${rowSpan}`;
            });
        }

        // Run on load and resize
        window.addEventListener('load', resizeCollage);
        window.addEventListener('resize', resizeCollage);
    </script>



</body>

</html>
