---
layout: base
---
<div id="center-container">
    <h1 class="page-heading">{{ page.title }}</h1>

    <div class="ps-gallery gallery-collage">
        {% assign gallery = site.data.gallery[page.folder] %}
        {% for img in gallery %}
        <a href="{{ img.path }}"
           data-pswp-width="{{ img.width }}"
           data-pswp-height="{{ img.height }}"
           target="_blank">

            <div style="width:100%; aspect-ratio: {{ img.width }}/{{ img.height }}; background:#f0f0f0;">
                <img src="{{ img.path }}"
                     alt="{{ img.path | split: '/' | last | replace: '.jpg','' }}"
                     loading="lazy"
                     style="width:100%; height:100%; object-fit:cover; display:block;">
            </div>

        </a>
        {% endfor %}
    </div>

</div>
